# Dependencies
node_modules/

# Next.js
.next/
out/

# Production
build/
dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE / Editors
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# Temporary files
.tmp/
temp/

# Vercel
.vercel/

# Docker
*.tar

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json

# Secrets / Keys
*.pem
*.key
*.crt

# Jenkins
jenkins_home/